.carts {
  table {
    border-collapse: collapse;
  }
  td {
    padding: 0.5em;
  }
  td.quantity {
    white-space: nowrap;
  }
  td.quantity::after {
    content: " ×";
  }
  td.price {
    font-weight: bold;
    text-align: right;
  }
  tfoot {
    th, th.price {
      font-weight: bold;
      padding-top: 0.5em;
    }

    th {
      text-align: right;
    }

    td.price {
      border-top: solid thin;
    }
  }

  #empty_cart , #checkout {
    display:inline-block;
    margin-top: 6pt;


  }
  input[type="submit"] {
    background-color: #faed5a;
    border-radius: 0.354em;
    border: solid thin #f1a807;
    color: black;
    font-size: 1em;
    padding: 0.354em 1em;
    margin-right: 6pt;
  }
  input[type="submit"]:hover {
    background-color: rgba(253, 253, 105, 0);
  }
  #checkout{
    input[type="submit"] {
      background-color: #bfb;
      border-radius: 0.354em;
      border: solid thin #339333;
      color: black;
      font-size: 1.05em;
      font-weight: bold;
      padding: 0.354em 1em;
    }
    input[type="submit"]:hover {
      background-color: rgba(153, 221, 153, 0);
    }

  }
  #empty_cart {
    input[type="submit"] {
      background-color: rgb(250, 237, 90);
      border-radius: 0.354em;
      border: solid thin #f1a807;
      color: black;
      font-weight: bold;
      font-size: 1.05em;
      padding: 0.354em 1em;
      margin-right: 6pt;
    }
    input[type="submit"]:hover {
      background-color: rgba(253, 253, 105, 0);
    }
  }
}