<article>
<ol type="1" > <h2>Top List:</h2>

    <% top_list.each do |product| %>
        <li>
          <p>
            <%= product.title %>
           <span><%=product.amount_sold %> &times; </span>
          </p>

        </li>
  <% end %>
</ol>
</article>
