<h1>Edit Review</h1>

<%= form_for([@product, @review]) do |f| %>
  <label>Rating</label>
  <%= f.number_field :rating, min: 1, max: 5 %>
  <%= f.button :submit %>
<% end %>
<%= link_to 'Back', product_reviews_path  %>